body { 
    font-family: Georgia;
    text-shadow: 0px 1px 0px #fff;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: -1px;
	background-color: pink;
}

form#new_comment div.actions{
/*	height: 170px;*/
}

.drop-menu {
	display: block;
	text-align: left;
	padding: 10px 10px;
	font-size: 22px;
	height: 25px;
	max-height: 25px;
	width: 275px;
	background-color: #A09BBC;
	cursor: pointer;
	border: 1px solid #A09BBC;
	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px; 
	-webkit-border-bottom-left-radius: 5px; 
	-webkit-border-bottom-right-radius: 5px; 
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px; 
	-moz-border-radius-bottomright: 5px; 
	-moz-border-radius-bottomleft: 5px; 
	border-top-left-radius: 5px; 
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px; 
	border-bottom-left-radius: 5px;
	
}

.drop-menu:hover .sub-menu {
	display: inline-block;
	position: relative;
	z-index: 3;
}

.sub-menu {
	display: none;
	min-width: 275px;
	background-color: #A09BBC;
	padding: 10px 10px;
	margin-left: -11px;
	margin-top: 10px;
	border: 1px solid #A09BBC;
	-webkit-box-shadow: 0px 13px 25px rgba(0,0,0, 0.2);
	-moz-box-shadow: 0px 13px 25px rgba(0,0,0, 0.2);
	box-shadow: 0px 13px 25px rgba(0,0,0, 0.2);
}

.sub-menu {
/*	-webkit-border-top-left-radius: 5px;*/
/*	-webkit-border-top-right-radius: 5px; */
	-webkit-border-bottom-left-radius: 5px; 
	-webkit-border-bottom-right-radius: 5px; 
/*	-moz-border-radius-topleft: 5px;*/
/*	-moz-border-radius-topright: 5px; */
	-moz-border-radius-bottomright: 5px; 
	-moz-border-radius-bottomleft: 5px; 
/*	border-top-left-radius: 5px; */
/*	border-top-right-radius: 5px; */
	border-bottom-right-radius: 5px; 
	border-bottom-left-radius: 5px;
}

.sub-menu li {
	list-style-type: none;
	display: block;
	border-bottom: 1px dotted #eaeaea;
	font-size: 19px;
	height: 22px;
	padding: 8px 0;
	text-align: right;
}

	.sub-menu li img {
		margin-right: .5em;
	}

.sub-menu li:hover {
	border-bottom: 1px dotted #bababa;
}

.plus {
	display: inline-block;
	letter-spacing: -6px;
	-webkit-transition: .3s ease-in-out;
  	-moz-transition: .3s ease-in-out;
  	-o-transition: .3s ease-in-out;
}

.drop-menu:hover .plus {
	-webkit-transform: rotate(90deg) translate(-3px, 0px) scale(1.6);
	-moz-transform: rotate(90deg) translate(-3px, 0px) scale(1.6);
	-o-transform: rotate(90deg) translate(-3px, 0px) scale(1.6);
}

.drop-menu:hover {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px; 
	-webkit-border-bottom-left-radius: 0px; 
	-webkit-border-bottom-right-radius: 0px; 
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px; 
	-moz-border-radius-bottomright: 0px; 
	-moz-border-radius-bottomleft: 0px; 
	border-top-left-radius: 5px; 
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 0px; 
	border-bottom-left-radius: 0px;
}
